<main>
  <h1>Welcome to Sports Social Club</h1>

<section>
  <h2>Upcomming Games:</h2>

  <div class="Hockey">
    <h3>Field Hockey</h3>
    <ul>
      <li>Lomas vs. Pucara - Category: F-superior</li>
      <li>Lomas vs. Pucara - Category: M-infants</li>
      <li>Lomas vs. S.A.G. - Category: F-infants</li>
    </ul>
  </div>

  <div class="Basket">
    <h3>Basket Ball</h3>
    <ul>
      <li>Lomas vs. Pucara - Category: F-superior</li>
      <li>Lomas vs. Pucara - Category: M-infants</li>
      <li>Lomas vs. S.A.G. - Category: F-infants</li>
    </ul>
  </div>

  <div class="Rugby">
    <h3>Rugby</h3>
    <ul>
      <li>Lomas vs. Pucara - Category: F-superior</li>
      <li>Lomas vs. Pucara - Category: M-infants</li>
      <li>Lomas vs. S.A.G. - Category: F-infants</li>
    </ul>
  </div>
</section>
</main>
